<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Login</title></head>
<body>
<h1>Log in</h1>

<p th:if="${param.error}" style="color:red;">Invalid username or password.</p>
<p th:if="${param.expired}" style="color:orange;">Your password has expired. Please reset it.</p>
<p th:if="${param['expired-session']}" style="color:orange;">Your session expired because you logged in elsewhere.</p>
<p th:if="${param['too-many-sessions']}" style="color:red;">You're already logged in elsewhere. Log out there first.</p>

<form th:action="@{/perform_login}" method="post">
    <label>Username: <input type="text" name="user"/></label><br/>
    <label>Password: <input type="password" name="pass"/></label><br/>
    <label><input type="checkbox" name="remember-me"/> Remember me</label><br/>
    <button type="submit">Log in</button>
</form>
</body>
</html>